.header-style{
    box-shadow: 2px 4px 10px rgb(0 0 0 / 20%);
    height: 56px;
}
img {
    vertical-align: middle;
    border-style: none;
    height: 31px;
    width: 238px;
    margin-top: 10px;
    margin-left: 45px;
}